#root {
    height: 100%;
    background-image: url('https://cmsassets.rgpub.io/sanity/images/dsfx7636/game_data/1dec87dd6e583aa7031db63150d8b86611e2f177-1280x720.jpg?auto=format&fit=fill&q=80&w=956'); /* Replace with your image path */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
  }

.back {
    height: 650pt;
}

.calendar {
    border: solid 1px #777;
}